.container {
  width: 100%;
  display: flex;
  margin: 12px 0;
}

.container-input {
  width: 100%;
}

.label {
  width: 90px;
  margin: 4px 0;
  margin-right: 12px;
  text-align: right;
}

.input {
  width: 100%;
  margin: 0;
  padding: 4px;
  box-sizing: border-box;
  border: 2px solid black;
}

.helper-text {
  color: red;
  font-size: smaller;
  font-weight: bold;
  margin: 0;
  margin-top: 4px;
}
